/* Styles for cards*/

.card-header {
  @include header;
  .glyphicon {
    margin-right: 12px;
  }
}

.card-card {
  margin: 20px 0px;
  .card-content {
    padding-bottom: 10px;
    padding-top: 5px;
  }
}

div[class$="-icon"] {
  .glyphicon {
    position: absolute;
    height: 70px;
    width: 70px;
    line-height: 2em;
    font-size: 30px;
    text-align: center;
    top: 0;
    left: 0;
  }
  .glyphicon:before {
    position: absolute;
    left: 20px;
    height: 30px;
    width: 30px;
    top: 20px;
    line-height: 30px;
  }
}