/* Styles for cards*/

.card-header {
  @include header;
  .glyphicon {
    margin-right: 12px;
  }
}

.card-card {
  margin: 20px 0px;
  .card-content {
    padding-bottom: 10px;
    padding-top: 5px;
  }
}

/* Styles for metrics cards*/
.card-metric .card-header ,
.card-metric .card-content,
.card-metric .card-header-content {
  padding: 0;
}
.metric {
  background: #9F3E69;
  color: white;
  padding-bottom: 17px;
  padding-top: 17px;
  margin: 20px 0;
  overflow: auto;
}
.card-metric-icon {
  text-align: center;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  span {
    height: 70px;
    width: 70px;
    line-height: 2em;
    font-size: 2em;
  }
  .glyphicon:before {
    position: absolute;
    left: 20px;
    height: 30px;
    width: 30px;
    top: 18px;
    line-height: 30px;
  }
  @media all and (max-width:767px) {
    margin: 0 auto;
  }
}
.card-metric-number {
  font-size: 2.5em;
  font-weight: bold;
  @media all and (max-width:767px) {
    text-align: center;
  }
}

.card-metric-caption {
  text-transform: uppercase;
  opacity: 0.7;
  @media all and (max-width:767px) {
    text-align: center;
  }
}