// Style adjustments for dashboards in dkan.
#main-wrapper {
	.card-header {
    padding: 10px 0;
    .glyphicon {
	  	top: 4px;
	  }
  }
  .card-metric-number,
  .card-goal-metric {
  	font-weight: 600;
    line-height: 1.25em;
  }
  .card-goal-end-number {
    line-height: 1em;
    margin: -.3em;
    padding-left: 5px;
  }
}