.goal {
  color: #333;
  background: #9F3E69;
  padding-bottom: 17px;
  padding-top: 17px;
  margin: 20px 0;
  @media all and (max-width:991px) {
    text-align: center;
  }
}

.card-goal-icon {
  text-align: center;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  span {
    height: 70px;
    width: 70px;
    line-height: 2em;
    font-size: 2em;

  }
  .glyphicon:before {
    position: absolute;
    left: 20px;
    height: 30px;
    width: 30px;
    top: 18px;
    line-height: 30px;
  }
  @media all and (max-width:767px) {
    margin: 0 auto;
  }
}

.card-goal-progress {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  @media all and (max-width:991px) {
    text-align: center;
  }
}

.card-goal-status {
  font-size:1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.card-goal-end-date {
  font-size:0.9em;
}

.card-goal-caption {
  display: table-cell;
  font-weight: bold;
  height: 70px;
  vertical-align: middle;
  @media all and (max-width:991px) {
    display: block;
    margin: 1em 0;
    text-align: center;
    height: auto;
  }
}

.card-goal-end-number {
  font-size:0.7em;
  color: #999;
}