.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: $primary-color;
	border-color: $primary-color;
}
.pagination>li>a, 
.pagination>li>span {
	color: $primary-color;
	&:focus,
	&:hover {
		color: darken($primary-color, 10%);
	}
}