.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: $link-color;
	border-color: $link-color;
}
.pagination>li>a, 
.pagination>li>span {
	color: $link-color;
	&:focus,
	&:hover {
		color: $hover-color;
	}
}