.region {border-bottom: 1px grey solid; margin-bottom:2em}
.dashboard-title {font-size:4em;}
.card-header-content {font-size:2em !important; margin-left:20px !important}
.region-top, .region:last-child {border-bottom:none}
.footer {margin:0 auto; text-align:center}
.logo-sm {height:50px}
.card-header-icon.fa {font-size:3.5em; margin-top:12px}
.card-metric-icon .fa {font-size:3.5em; margin-top:12px}
