body {
	background: $background;
}
.glyphicon {
	top: 3px;
}

a {
	color: $link_color;
	&:hover,
	&:focus {
		color: $hover_color;
	}
}

.loader {
  position:relative;
  min-height: 30px;
}

.sp {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  margin-left:-16px;
  z-index: 2;
}

/* Spinner Slices */
$spCol: #000;

.sp.sp-slices {
  border-radius: 50%;
  border-top: 16px rgba($spCol,0.75) solid;
  border-left: 16px rgba($spCol,0.25) solid;
  border-bottom: 16px rgba($spCol,0.25) solid;
  border-right: 16px rgba($spCol,0.25) solid;
  -webkit-animation: spSlices 1s infinite linear;
  animation: spSlices 1s infinite linear;
}
@-webkit-keyframes spSlices {
  0% {
    border-top: 16px rgba($spCol,0.75) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
  25% {
    border-top: 16px rgba($spCol,0.25) solid;
    border-right: 16px rgba($spCol,0.75) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
  50% {
    border-top: 16px rgba($spCol,0.25) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.75) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
  75% {
    border-top: 16px rgba($spCol,0.25) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.75) solid;
  }
  100% {
    border-top: 16px rgba($spCol,0.75) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
}
@keyframes spSlices {
  0% {
    border-top: 16px rgba($spCol,0.75) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
  25% {
    border-top: 16px rgba($spCol,0.25) solid;
    border-right: 16px rgba($spCol,0.75) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
  50% {
    border-top: 16px rgba($spCol,0.25) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.75) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
  75% {
    border-top: 16px rgba($spCol,0.25) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.75) solid;
  }
  100% {
    border-top: 16px rgba($spCol,0.75) solid;
    border-right: 16px rgba($spCol,0.25) solid;
    border-bottom: 16px rgba($spCol,0.25) solid;
    border-left: 16px rgba($spCol,0.25) solid;
  }
}