// ICON lookup: http://glyphicons.bootstrapcheatsheets.com/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$background: 		#fff;
$primary-color:	#006699;
$font-family: 	'Open Sans', sans-serif;