// ICON lookup: http://glyphicons.bootstrapcheatsheets.com/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$background: 		#fff;
$title-color:		#000;
$header-color:	#000;
$link-color:		#0A77BD;
$hover-color:		#002245;
$font-family: 	'Open Sans', sans-serif;